@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&family=Quesha&display=swap');

.peacock-container {
  background: #030F10;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.peacock-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  position: relative;
  border: 2px dashed #1c3b3ebe;
  border-radius: 10px;
  padding: 4rem 3rem;
  box-sizing: border-box;
}

.peacock-image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  position: relative;
}

.peacock-image {
  max-width: 350px;
  height: auto;
  z-index: 2;
  animation: jump 2s ease-in-out infinite;
}

@keyframes jump {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.peacock-glow {
  position: absolute;
  width: 350px;
  height: 350px;
  background: radial-gradient(circle, #FFE180 0%, #FFC300 60%, transparent 80%);
  border-radius: 50%;
  filter: blur(90px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  opacity: 0.3;
}

.text-box {
  flex: 1;
  text-align: left;
  color: #fff;
  padding-left: 3rem;
}

.title {
  font-family: 'Quesha';
  font-size: 3.5rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.title .highlight {
  color: #FFD300;
}

.description {
  font-family: 'Lato', sans-serif;
  font-size: 1.25rem;
  line-height: 1.7;
  margin-bottom: 2.5rem;
}

.shop-button {
  background-color: #FFD300;
  color: white ;
  padding: 0.9rem 2.4rem;
  font-size: 1.05rem;
  font-weight: 500;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.shop-button:hover {
  background-color: #ffeb3b;
  transform: translateY(-2px);
}

@media (max-width: 768px) {
  .peacock-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
  }
  .text-box {
    padding-left: 0;
    margin-top: 2rem;
  }
  .peacock-image {
    max-width: 70%;
  }
  .peacock-glow {
    width: 200px;
    height: 200px;
  }
  .title {
    font-size: 2.4rem;
  }
  .description {
    font-size: 1.05rem;
  }
}