@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.2s forwards; /* faster animation */
}
tighter-line-height{
  line-height: 1; /* Reduced from default or Tailwind's leading-tight (~1.25) */
}